#login-contaier {
    -moz-box-shadow: 0px 0px 10px #555;
    -webkit-box-shadow: 0px 0px 10px #555;
    box-shadow: 0 0 10px #555;
    /* border: 1px solid #000; */
    background-color: #fff;
    padding: 22px 50px;
    width: 437px;
    margin: auto;
    margin-top: 200px;
}

body{
    background-color:#9fcdff;
}

#login-contaier>h3{
    text-align:center;
}

#imgcode-container{
    width: 100%;
    height: 38px;
    margin-left: 17px;
}

#code-contaier{
    width: 100%;
    margin: auto;
}